.git
.gitignore

.venv
__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov

.env
.env.*
!.env.docker.example

media
staticfiles

.vscode
.idea

products_export.csv
products_export.xlsx
set.txt
setupfarsi.txt

*.log
*.sqlite3
db.sqlite3
