# django 
DEBUG=True
SECRET_KEY=klsdfjksdvksmdvkmdvkm

# MySQL
DB_ENGINE=django.db.backends.mysql
DB_NAME=mallbyte_db
DB_USER=username
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=3306
DB_CHARSET=utf8mb4